
<footer class="mt-5 bg-dark text-white text-center">
    Copyright <span><i class="far fa-copyright"></i></span> Your Website 2021

    <div class="footer-social">
        <div class="footer-social-title">
            Bizi Takip Edin
        </div>
        <div class="footer-social-content">
            <div>
            <a class="footer-social-facebook" href="https://www.facebook.com/deterjanpazarifabrika/" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            </div>
            <div>
                <a class="footer-social-instagram" href="https://www.instagram.com/deterjanpazaricom/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div>
                <a class="footer-social-twitter" href="https://twitter.com/DeterjanPazari?t=oK8fap7rEGkR0AnPCkXJQw&s=09" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div>
                <a class="footer-social-pinterest" href="#" target="_blank">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </div>
            <div>
                <a class="footer-social-youtube" href="https://www.youtube.com/channel/UC5MsoYHYCsUa7DmkwC5ir6A" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <div>
                <a class="footer-social-linkedin" href="#" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <div>
                <a class="footer-social-whatsapp" href="https://wa.me/905366934568" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>

</footer>

{% include 'partials/_footer.html' %}