<header>
    <div class="navbar navbar-expand-sm bg-info navbar-dark fixed-top ">
        <div class="container ">
            <a href="https://www.deterjanpazari.com" class="navbar-brand">
                Deterjan Pazarı
            </a>
            <ul class="navbar-nav mr-auto">
                <li 
                    {% if request.path == '/' %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a href="{% url 'home' %}" class="nav-link">Ana Sayfa</a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'yetkili' user.id %}" class="nav-link">Yetkili</a>
                </li>
                {% endif %}
                
            </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="text-white"><i class="fas fa-bars"></i></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                                {{ user.username }}
                                Çıkış Yap <span><i class="fas fa-sign-out-alt"></i></span>
                            </a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>

                    {% else %}
                        <li
                        {% if 'login' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                        >
                            <a href="{% url 'login' %}" class="nav-link">Giriş Yap</a>
                        </li>


                        <li
                        {% if 'register' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                        >
                            <a href="{% url 'register' %}" class="nav-link">Kayıt Ol</a>
                        </li>


                    {% endif %}


                </ul>
            </div>
        </div>
    </div>
</header>