{% extends "layout.html" %}


{% block content %}
    
    <div class="container border-bottom" style="padding-top: 100px ;">
        <div class="row">

            <div class="col-md-3">
                <div class=" mt-5 mb-5">
                    <button   class="btn bg-danger btn-block mt-5" type="button">
                        {% if user.is_authenticated %}
                            <a href="{% url 'teslim' user.id %}" method="POST" class="text-white">
                                ÜRÜN TESLİM RANDEVUSU AL
                            </a>
                        {% else %}
                            <a href="#" method="POST" class="text-white">
                                ÜRÜN TESLİM RANDEVUSU AL
                            </a>
                        {% endif %}    
                    </button>
                    <button class="btn btn-secondary btn-block mt-5" type="button">ÜRÜN ALIM RANDEVUSU AL</button>
                  </div>
            </div>

            <div class="col-md-9">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="collapse" href="#Current">Randevularım</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" data-toggle="collapse" href="#Past">Geçmiş Randevularım</a>
                    </li>
                </ul>

                <div class="collapse show" id="Current">
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr style="font-size: 15px;">
                                <th>İSİM</th>
                                <th>KOLİ SAYISI</th>
                                <th>RANDEVU TARİHİ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% if orders %}
                                {% for orderr in orders %}
                                    {%if orderr.appointmentdate != Null%}
                                        {% if orderr.remainingday > 0 %}
                                            <tr>
                                                <td>
                                                    {{orderr.name}}
                                                </td>
                                                <td>
                                                    {{orderr.numofproduct}}
                                                </td>
                                                <td>
                                                    {{orderr.appointmentdate}}
                                                </td> 
                                                <td>
                                                    <button class="btn btn-outline-danger btn-actions" data-toggle="modal" data-target="#deleteApp{{orderr.id}}" >randevu sil</button> 
                                                </td>  
                                            </tr> 
                                        {% endif %}
                                    {% endif %}
                                {% endfor%}
                            {% endif %}
                        </tbody>
                    </table>
                                
                </div>   
                
                <div class="collapse" id="Past">
                    
                    <table class="table table-bordered">
                        
                        <thead>
                            <tr>
                                <th>İSİM </th>
                                <th>KOLİ SAYISI</th>
                                <th>RANDEVU TARİHİ</th>
                                <th></th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% if orders %}
                                {% for orderr in orders %}                                        
                                    {% if orderr.remainingday < 0 %}   
                                        <tr>
                                            <td>
                                                {{orderr.name}}
                                            </td>
                                            <td>
                                                {{orderr.numofproduct}}
                                            </td>
                                            <td>
                                                {{orderr.appointmentdate}}
                                            </td> 
                                            <td>
                                                <button class="btn btn-outline-primary btn-actions" data-toggle="modal" data-target="#detailApp{{orderr.id}}" >randevu detayı</button> 
                                            </td>  
                                        </tr> 
                                    {% endif %}
                                            
                                {% endfor%}
                            {% endif %}
                        </tbody>
                    </table>
                            
                </div>
                
            </div>
        </div>

    </div>

    <div class="container mt-5">

        <div class="nav nav-tabs">
            <li class="nav-item">
                <a href="#" class="nav-link active"> SİPARİŞLERİM</a>
            </li>
        </div>

        <table class="table table-bordered">   

            <thead>
                <tr>
                    <th scope="col">İSİM</th>
                    <th scope="col">KOLİ SAYISI</th>
                    <th scope="col">RESİM TARİHİ</th>
                    <th scope="col">KURUMA GÜNÜ</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if orders %}
                    {% for orderr in orders %}
                        {%if orderr.appointmentdate == Null%}
                            <tr>
                                <td>
                                    {{orderr.name}}
                                </td>
                                <td>
                                    {{orderr.numofproduct}}
                                </td>
                                <td>
                                    {{orderr.startingdate}}
                                </td> 
                                <td>
                                    {{orderr.daycount}}
                                </td>
                                <td>
                                    {% if orderr.daycount > 89 %}
                                        <a href=""  class="btn btn-outline-success btn-actions" data-toggle="modal" data-target="#addApp{{orderr.id}}" >
                                            randevu al
                                        </a>
                                    {% else %}
                                        <a type="button" class="btn btn-outline-success disabled" aria-disabled="true" >
                                            randevu al
                                        </a>
                                    {% endif %}
                                </td>  
                            </tr>
                        {% endif %}
                    {% endfor%}
                {% endif %}
            </tbody>
        </table>


    </div>



{% endblock %}